*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 6144px;
    background-image: url(image/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    position: relative;
} 
.navbar{
    width:100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 700px;
    cursor:pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
} 

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 100;
    margin-right: 50;
    margin-left: 200;
}
.content h1{
    font-size: 300px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #664c0e;
}
.content p{
    font-size: 70px;
    color: #633b07;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #ff77cd ,#c8a13f);
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing:content-box;
    text-decoration: none;
    color:#fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.feature-img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.socmed-button{
    position:center;
    bottom: 100%;
    text-align: center;
}
.mappin{
    height: 70%;
    position: absolute;
    bottom: 0;
    left: 300px;
}
.mymy{
    font-size: 100;
    text-align: center;
}
.mybio{
    font-size: 85;
    text-align: center;
}
.edu{
    margin-bottom: 50x;
    margin-top: 50;
}
.button1{
    color: #090202;
    background-color: #e6af19;
    font-size: 50px;
    border: 4px solid #000000;
    border-radius: 45px;
    padding: 50px 50px;
    cursor: pointer
}
.button1:hover {
    color: #ffffff;
    background-color: #a20606;
}		
